@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable scroll wheel on number inputs to prevent accidental value changes */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
